<template name="views_chat">
  <div class="chat-container clearfix">
  <div class="people-list" id="people-list">
    <div class="search">
      <input type="text" placeholder="search" />
      <i class="fa fa-search"></i>
    </div>
    <div class="header-buttons">
      <button class="fa fa-plus"></button>
      <button class="fa fa-cog"></button>
    </div>
    <ul class="list">
      {{#each conversations}}
      <li class="conversationItem {{#if isSelected _id }} selected {{/if}} clearfix" data-id="{{_id}}">
        {{> dapp_identicon identity=address class="dapp-small avatar" }}
        <div class="about">
          <div class="name">{{ address }}</div>
          <div class="status">
            <i class="fa fa-circle online"></i>
          </div>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
  {{#with selectedConversation}}
  <div class="chat" style="{{#unless this}} visibility: hidden {{/unless}}">
    <div class="chat-header clearfix">
      {{> dapp_identicon identity=address class="dapp-small avatar" }}

      <div class="chat-about">
        <div class="chat-with">Chat with {{address}}</div>
        <div class="chat-num-messages">{{messageCount _id}} messages</div>
      </div>
      <i class="fa fa-star"></i>
    </div> <!-- end chat-header -->

    <div class="chat-history">
      <ul>
        {{#each messages _id }}
        {{#if incoming}}
          <li>
            <div class="message-data">
              <span class="message-data-name"><i class="fa fa-circle online"></i> {{sender}}</span>
              <span class="message-data-time">{{timestamp}}</span>
            </div>
            <div class="message my-message">
              {{payload}}
            </div>
          </li>
        {{else}}
          <li class="clearfix">
            <div class="message-data align-right">
              <span class="message-data-time" >{{timestamp}}</span> &nbsp; &nbsp;
              <span class="message-data-name" >me</span> <i class="fa fa-circle me"></i>

            </div>
            <div class="message other-message float-right">
              {{payload}}
            </div>
          </li>
        {{/if}}
        {{/each}}
      </ul>

    </div> <!-- end chat-history -->

    <div class="chat-message clearfix">
      <textarea name="message-to-send" id="message-to-send" placeholder ="Type your message" rows="3"></textarea>

      <button class="sendMessage">Send</button>

    </div> <!-- end chat-message -->

  </div> <!-- end chat -->
  {{/with}}
</div> <!-- end container -->

</template>
